<html>
        <head>
            <title> GIROPOPS STRIGUS GIROS</title>
        <body> </br>
        <h2>Meu IP {{ansible_facts.eth0.ipv4.address}}</h2>      

        </body>
        </head>
</html>